$nav-bg-color: #101010;
$main-bg-color: #383838;
$nav-color: #ffffff;
$last-bg-color: #1f1f1f;
$history-bg-color: #2d2d2d;

$main-font: 'PT Sans', sans-serif;

$bottom-box-shadow: 0 8px 6px 6px black;